<button class="btn_edit_delete" type="button" id="editar' + i + '" onclick="editarMsg(' + i + ')">Editar</button>
<button class="btn_edit_delete" type="button" id="apagar' + i + '" onclick="apagarMsg(' + i + ')">Apagar</button>